$mobile: 320px;
$tablet: 768px;
$desktop: 1360px;


$accent-color: #28A745;
$accent-hover-color: #2EBF4F;
$secondary-accent-color: #0284D0;

$primary-bg-color: #FFFFFF;
$secondary-bg-color: #808080;
$hero-bg-color: rgba(0, 0, 0, 0.5);
$form-bg-color: #F4F4F4;
$dark-bg-color: #333333;

$primary-text-color: #FFFFFF;
$secondary-text-color: #333333;
$third-text-color: #808080;

$error-text-color: #EB5757;


$transition: 0.4s all ease-in-out;

$box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;