@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: $primary-bg-color;
  color: $secondary-text-color;

  font-weight: 400;

  /* Выставляем основные настройки по-умолчанию для body */
  min-height: 100vh;


  text-rendering: optimizeSpeed;
  line-height: 1.5;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}



/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: $primary-text-color;
}


/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

button {
  margin: 0;
  cursor: pointer;
  border: none;
}

a {
  cursor: pointer
}



// ИНПУТ Стирание стилей при автозаполнении
:-webkit-autofill {
  transition: all 5000s ease-in-out 0s;
}


// одинаково на десктопе
.section {


  @include media("desktop") {
    padding: 80px 0px;
  }

}

.container {
  margin: 0px auto;
  padding: 0px 20px;
  // width: 100%;
  // width: 280px;
  max-width: 767.9px;


  @include media("tablet") {
    padding: 0px 32px;
    max-width: none;
    width: $tablet;

    @include media("desktop") {
      padding: 0px 28px;
      width: $desktop;
    }
  }
}

body.scroll header {
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.616);
}

div .lb-dataContainer {
  padding-top: 10px;
}