@import "@/styles/mixins";
@import "@/styles/variables";

.section {
   background-color: $form-bg-color;
   color: $secondary-text-color;

   @include media("tablet") {

      display: grid;
      grid-template-columns: 1fr 1.1fr;
   }

   @include media("desktop") {
      grid-template-columns: 1fr 1.1fr;
   }
}

.img {
   width: 100%;
   height: auto;

   @include media("tablet") {
      height: 100%;
      object-fit: cover;
   }
}

.box {
   margin: 0px auto;
   padding: 0px 20px;
   padding-top: 51px;
   padding-bottom: 25px;

   @include media("tablet") {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 32px;
      width: 400px;

   }

   @include media("desktop") {
      padding: 56px 20px 77px 20px;
      width: 690px;
   }

   h2 {
      margin-bottom: 69px;
      font-size: 32px;
      line-height: 1.5;
      font-weight: 400;


      @include media("tablet") {
         margin-bottom: 24px;
         font-size: 40px;
         line-height: 1.36;
      }
   }
}

.userBox {
   position: relative;
   margin-bottom: 16px;

   input {
      width: 100%;
      padding: 16px 8px;

      font-size: 16px;
      color: $third-text-color;
      background-color: $primary-bg-color;

      border: none;
      outline: none;
      border-radius: 5px;
   }

   input:focus+.label,
   input:not(:placeholder-shown)+.label {
      transform: translateY(-50px);
      font-size: 14px;
   }
}

.label {
   position: absolute;
   left: 3%;
   top: 55%;
   color: $third-text-color;
   transform: translateY(-50%);
   transition: $transition;

   font-size: 16px;

   @include media("desktop") {
      left: 1.5%;

   }

}

.error {
   position: relative;

   .errorText {
      position: absolute;
      top: 0;
      left: 0;

      @include flex(center, center);

      color: $error-text-color;
      font-size: 10px;

      @include media("tablet") {
         font-size: 14px;
      }

   }
}

.button {
   padding: 16px 56px;
   margin-top: 8px;
   color: $primary-text-color;
   background-color: $accent-color;
   border-radius: 5px;

   &:hover,
   &:focus {
      background-color: $accent-hover-color;
   }
}

.successBox {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 200;
   @include flex(center, center);

   background-color: $dark-bg-color;



   div {
      padding: 20px;
      background-color: $primary-text-color;
      color: $secondary-text-color;
      border-radius: 10px;
   }

   p {
      margin-bottom: 5px;
   }

   .successTitle {
      font-weight: bolder;
   }

   .successBtn {
      color: green;
      background-color: transparent;
      font-size: 12px;
      font-weight: bolder;
   }
}